/**
 * Variablen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-fachtag
 */




/* #header */

#header,
#header-wrapper {
    height: $header-height;
    width: 100%;

    @include respond-to(large) {
        height: $header-height__large;
    }
}


#header-wrapper {
    background: $white;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 2000;
}


#header-stripes {
    width: 100%;
    height: $header-stripes-height;
    display: flex;
    flex-wrap: nowrap;

    & > div {
        width: 25%;
    }

    & > div:nth-of-type(1) {
        background: $natur;
    }

    & > div:nth-of-type(2) {
        background: $wasser;
    }

    & > div:nth-of-type(3) {
        background: $heide;
    }

    & > div:nth-of-type(4) {
        background: $sandstein;
    }

}

#header-logo {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    background-image: url("../img/lgb.svg");
    width: 192px;
    height: 80px;

    @include respond-to(large) {
            width: 300px;
            height: 125px;
    }

}


#header-navigation {
    height: calc( 100% - #{$header-stripes-height} );
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* #primary */

#primary ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > li {
        display: inline-block;
        margin: 0 15px;
    }

    & > li > a {
        text-decoration: none;
        color: $primary;
        font-size: .8rem;
        padding: 1rem 0 1rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color .25s linear;

        &:hover{
            border-bottom-color: $primary;
        }
    }
}



/* #footer */

#footer {
    background: $darkgray;
    display: flex;
    padding: .5rem;
}


/* #secondary */

#secondary ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    & > li {
        display: inline-block;
        margin: 0 15px;
    }

    & > li > a {
        color: $white;
        text-decoration: none;
        font-size: .8rem;
        padding: .5rem 0 .5rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color .25s linear;

        &:hover{
            border-bottom-color: $white;
        }
    }
}


/* #main */

#main {
    display: block;
    margin: 3rem 0;
}
