/**
 * Variablen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-fachtag
 */



/* Schriften */

$sans:                      "Segoe UI","Myriad",sans-serif, Arial, sans-serif;      // Segoe UI = Frutiger Clone


/* Abstände und Größen */


$header-height:             4.5rem;     // 85px
$header-height__large:      7.5rem;     // 150px
$header-stripes-height:     .5rem;



/* Farbpalette */

$black:                     #000;
$white:                     #fff;
$gray:                      #f2f2f2;
$darkgray:                  #646363;

$natur:                     #00892c;
$wasser:                    #0095d8;
$heide:                     #970e7e;
$sandstein:                 #ac9d89;


/* Benannte Farben */

$primary:                   $heide;
$textgray:                  #4b6676;
