/**
 * Custom Styles für wp-block-group
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-fachtag
 */



.wp-block-group.is-style-box {
    background-color: $white;
    margin: 3rem auto;
    box-shadow: 0 5px 5px rgba(0,0,0,0.06);

    & > .wp-block-group__inner-container {
        width: 90%;
        margin: 0 auto;
        padding: 2% 0;
    }

}


.wp-block-group.is-style-session {
    margin: 1rem auto;

    & > .wp-block-group__inner-container {
        width: 100%;
        margin: 0 auto;
        padding: 1% 2%;
    }
}
